<div class="center">
    <h1> Welcome!</h1>
    <br><br>
     <div align = "center"><%= image_tag("garrett county logo.jpg", alt: "GC Logo", class: "img-responsive") %></div>
    <br><br>
    <h2> Explore the history, historical aspects, and attractions that make Garrett County so great! Please sign up for an account below in order to be able to post comments or stories about your Garrett County experiences!</h2>
    
    <%= link_to "Sign up!", signup_path,  class: "btn btn-lg btn-primary" %>
</div>