<% provide(:title, "Famous Visitors") %>
<h1>Famous Visitors</h1>
<h2>Thomas Edison, Henry Ford, and Thomas Firestone</h2>

<p>During the summers of 1918 and 1921, repectively, Thomas Edison, Henry Ford, and Thomas Firestone visited Garrett County.  Their visit in 1918 was much shorter than in 1921, consisting only of a stop at Swallow Falls
for eat lunch and a visit to Oakland, MD in order to purchase supplies.  They returned again, however, in the summer of 1921 for a longer stay at Muddy Creek Falls.   This invitation is believed to have been from Fred W. Besley,
who served as Maryland's first State Forester. </p>

<p> Coming from Camp Harding, which is about 90 miles east of Garrett County, they travelled west on US 40, which took them through Allegany County and to Keysers Ridge.  Once they arrived at Keysers Ridge, they turned south and
followed what is now known as Route 219 until they passed once again through Oakland, MD.  Instead of stopping here, as they did in 1918, they instead continued on to Deer Park, MD and had a late lunch beside a creek there.  From
here, they travelled about nine miles until they reached their campsite at Muddy Creek Falls.</p>

<p>When the group arrived at the falls, they found the campsite that they wanted to already be occupied by a group of people.  Determined to have the pristine site, they offered the group ten dollars to move farther down the river. Once the group of people had
disbursed, they set up their camping gear and began their stay.  Interestingly, on their way into the campsite, the kitchen truck that they used weighed so much that it collapsed a bridge, which cut off the public from being
able to visit them during the duration of their stay.</p>

<p>The boys from the group previously mentioned would visit the campsite at times, and they were given sweets by the "vagabonds", as Ford, Edison, and Firestone became to be known throughout the country.  During these visits,
they noticed that Edison, Ford and Firestone did not camp without a lot of the amenities which they were accustomed to at home, including electric lights, a dining tent and a portable cooking stove.<br><br><br><br></p>

<figure>
  <%= image_tag("Vagabonds.jpg", alt: "Vagabonds", size: "400x293", class: "img-responsive") %>
  <figcaption>Vagabonds eating a meal in their dining tent</figcaption>
</figure>

<figure>
  <%= image_tag("edisonford.jpg", alt: "EdFord", size: "400x293", class: "img-responsive") %>
  <figcaption>Edison and Ford having a conversation</figcaption>
</figure>
<figure>
  <%= image_tag("Ford-Edison-Harding-Firestone.jpg", alt: "Camp Harding", size: "400x293", class: "img-responsive") %>
  <figcaption>Ford, Edison, Harding, and Firestone at Camp Harding 1921</figcaption>
</figure>

<figure>
  <%= image_tag("falls.gif", alt: "Muddy Creek Falls", size: "400x293", class: "img-responsive") %>
  <figcaption>Muddy Creek Falls as it probably looked in 1921</figcaption>
</figure>

<h2>Albert Einstein</h2>

<p>Considered by many to be one of the greatest minds of all time, Albert Einstein vacationed in secret on Deep Creek Lake during September of 1946.  During this time, Einstein was seeking a place that would be away from the public
scrutiny of how some of his ideas led to the creation of the atomic bomb.  He was invited to visit the area by John Steiding of Midland, MD, who was an acquantaince of Einsten via a co-workers wife, who was at the time sculpting 
a bust of Einstein.</p>

<p>While in Garrett County, Einstein stayed at the cottage of Dr. Frank Wilson, who also examined Einstein to check for an aortic aneurysm in his abdomen. His days were normally spent going for walks around the lake and stopping 
and chatting with strangers who had no idea who he was.  He also spent a lot of time sailing, either with friends or alone.  When asked to recall his time at Deep Creek Lake, he described it as being "one of the most
restful and zestful vacations" that he ever had.<br><br><br><br></p>

 <figure>
  <%= image_tag("Einsten.jpg", alt: "Einstein", size: "400x293", class: "img-responsive") %>
  <figcaption>Einstein sailing on Deep Creek Lake with unknown couple</figcaption>
</figure>

<figure>
  <%= image_tag("EinstenRobbieSteiding.jpg", alt: "Einsten/Robbie", size: "400x293", class: "img-responsive") %>
  <figcaption>Einstein holding Robbie Steiding during his visit</figcaption>
</figure>

<figure>
  <%= image_tag("SteidingEinstein.jpg", alt: "EinsteinSteiding", size: "400x293", class: "img-responsive") %>
  <figcaption>John Steiding with Albert Einstein</figcaption>
</figure>

<h2>Ulysses S. Grant, William McKinley, Grover Cleveland, James Garfield, William H. Taft, Benjamin Harrison</h2>

<p>In 1873, the Baltimore and Ohio (B&O) Railroad created a vacation resort in Deer Park, MD.  During this time, the Deer Park Hotel was erected and soon became the go-to place for the wealthy from the Baltimore and Washington, DC areas.</p>

<p>Housing turkish baths, swimming pools and many other luxuries, the hotel attracted quite a few presidents during its heyday.  Boiling Springs, which was the original source of Deer Park water, which is still sold to this day, also 
was an attraction for the area along with an ampitheater.  Presidents Grant, Harrison, Taft, Garfield and Cleveland all vacationed at the hotel.  In fact, Grover Cleveland and
his wife spent some of their five night honeymoon at the resort. William McKinley was also a guest prior to becoming president.  </p>

<p>The cottage in which Grover Cleveland and his wife stayed is still standing, but the hotel was razed in 1944 due to a fire.  Many of the other historical buildings have also been destroyed.<br><br><br><br></p>

<figure>
  <%= image_tag("Deer Park Hotel.jpg", alt: "Hotel", size: "400x293", class: "img-responsive") %>
  <figcaption>Deer Park Hotel 1892</figcaption>
</figure>

<figure>
  <%= image_tag("Deer Park.jpg", alt: "Deer Park", size: "400x293", class: "img-responsive") %>
  <figcaption>Deer Park Illustration</figcaption>
</figure>

<figure>
  <%= image_tag("Cleveland Cottage.jpg", alt: "Cleveland Cottage", size: "400x293", class: "img-responsive") %>
  <figcaption>Cleveland Cottage</figcaption>
</figure>




