<% provide(:title, "Message") %>
<div class="col-md-8 col-md-offset-2">
	<div class="message-show">
		<h2><%= @message.title %></h2>
		<p class="message-posted-by">Posted by <%= @message.user.name %> <%= time_ago_in_words(@message.created_at) %> ago</p>
		<p class="message-desc"><%= @message.description %></p>

		<h3 class="comment-section-header">Comments:</h3>
		<!-- renders the _comment.html.erb partial file. -->
		<p><%= render @message.comments %></p>

		<h3 class="reply-to-msg">Reply to Message:</h3>
		<!-- renders the comments form -->
		<%= render 'comments/form' %>


		
		<div class="links btn-group">
			<%= link_to "Back", messages_path, class: "btn btn-default" %>
			<% if @message.user_id == current_user.id %>
				<%= link_to "Edit Message", edit_message_path(@message), class: "btn btn-default" %>
				<%= link_to "Delete Message", message_path(@message), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
			<% end %>
		</div>
	</div>
</div>



    
        
