
    <%= form_for [@message, @message.comments.build] do |f| %>
    <%= render 'shared/error_messages', object: f.object %>      
      <%= f.label :comment %>
      <%= f.text_area :content, class: 'form-control' %>
      <%= f.submit "Reply", class: "btn btn-primary" %>
      
    <% end %>
