<% provide(:title, @user.name) %>
<h1>Profile</h1>
<div class = "row">
  <aside class="col-md-4">
    <section class = "user_info">
      <h3>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h3>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class = "col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Posts:  (<%= @user.microposts.count %>)</h3>
      <ol class = "microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
    <% if @user.messages.any? %>
    <h3>Messages: (<%= @user.messages.count %>)</h3>
    <ol class="messages">
      <%= render @messages %>
    </ol>
    <%= will_paginate @messages %>
    <% end %>
  </div>
</div>
