<%= form_for(@micropost, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new comment/experience..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>

</script>