@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Playfair+Display|Muli:300,400);

@mixin box_sizing {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

/* universal */

body {
    background-color: white;
    padding-top: 50px;
    font-family: Playfair Display;
    color: black;
    font-size: 1.4em;
}

section {
    overflow: auto;
    color: #d3d3d3;
    font-family: Playfair Display;
}


.center {
    text-align: center;
    font-family: Playfair Display;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.center h1 {
    margin-bottom: 10px;
    font-family: Playfari Display;
}

.container {
    width: auto;
    font-family: Playfair Display;
   
}

figure {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

/* typography */

h1, h2, h3, h4, h5{
    line-height: 1;
}

h1 {
    font-size: 4em;
    letter-spacing: -2px;
    padding-bottom: 10px;
    text-align: center;
    padding-top: 50px;
}

h2 {
    font-size: 1.3em;
    line-height: 1.7em;
    padding-top: 50px;
    padding-bottom: 10px;
}

h3 {
    padding-top: 50px;
    padding-bottom: 10px;
}

/* header */

/*HTML5 */
/*Navigation */

#nav {
    float: right;
    width: auto;
    font-size: 1.7em;
    padding-top: 9px;
    padding-bottom: 9px;
}


ul#navigation {
    width: auto;
    margin: 0px auto;
    position: relative;
    float: left;
    border-left: none;
    border-right: none;
    
}

ul#navigation li {
    width: auto;
    display: inline;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    border-top: 1px solid #c4dbe7;
    border-bottom: 2px solid #c4dbe7;
}

ul#navigation li a {
    width: auto;
    padding: 10px 25px;
    color: #616161;
    text-shadow: 1px 1px 0px #fff;
    text-decoration: none;
    display: inline-block;
    border-right: 1px solid #fff;
    border-left: 1px solid #C2C2C2;
    border-top: 1px solid #fff;
    background: #f5f5f5;
    
    -webkit-transition: color 0.2s linear, background 0.2s linear;
    -moz-transition: color 0.2s linear, background 0.2s linear;
    -o-transition: color 0.2s linear, background 0.2s linear;
    transition: 0.2s linear, background 0.2s linear;
}

ul#navigation li a:hover {
    background: #f8f8f8;
    color: #282828;
    width: auto;
}

ul#navigation li a.first {
    border-left: 0 none;
    width: auto;
}

ul#navigation li:hover > a {
    background: #fff;
    width: auto;
}

/*Dropdown navigation */

ul#navigation li:hover > ul {
    visibility: visible;
    opacity: 1;
}

ul#navigation ul, ul#navigation ul li ul {
    list-style:  none;
    margin: 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 99999;
    width: auto;
    background: #f8f8f8;
    box-shadow: 1px 1px 3px #ccc;
    
    -webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition: opacity 0.2s linear, visibility 0.2s linear;
    -o-transition: opacity 0.2s linear, visibility 0.2s linear;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

ul#navigation ul li {
    clear: both;
    width: auto;
    border: 0 none;
    border-bottom: 1px solid #c9c9c9;
}

ul#navigation ul li a {
    background: none;
    padding: 7px 15px;
    color: #616161;
    text-shadow: 1px 1px 0px #fff;
    text-decoration: none;
    display: inline-block;
    border: 0 none;
    float: left;
    clear: both;
    width: auto;
}

/* End of HTML5 */

/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    width: auto;
}

footer a {
    color: black;
}

footer a:hover {
    color: black;
}

footer small {
    float: left;
    border-left: 3px;
    color: black;
}

footer ul {
    float: right;
    list-style: none;
    border-right: 3px;
}

footer ul li {
    float: left;
    margin-left: 15px;
}

figure {
    display: inline-block;
    padding-right: 20px;
    padding-left: 40px;
     
}

figure2 {
    display: inline-block;
    padding-right: 120px;
    padding-left: 40px;
    
}

figure3 {
    display: inline-block;
    padding-left: 40px;
    padding-right: 120px;
}

figcaption {}




/* Sign up */

#Sign-Up {
    background-color: white;
    background-size: 500px 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    margin-top:150px;
    margin-bottom:150px;
    margin-right:150px;
    margin-left:450px;
    padding:9px 35px;
}

.slider{
	max-width:600px;
	max-height:400px;
	padding:20px;
	border:1px solid gray;
	background: black;	
	text-align: center;
}
.slider_wrapper{
	overflow: hidden;
	position:relative;
	height:280px;
	top:auto;
	
}
#image_slider{

	position: relative;
	height: auto;
	list-style: none;
	overflow: hidden;
	float: left;
	/*Chrom default padding for ul is 40px */
	padding:0px;
	margin:0px;


}
#image_slider li{
	position: relative;
	float: left;
	width: auto;

}
.nvgt{
	position:absolute;
	top: 120px;
	height: 50px;
	width: 30px;
	opacity: 0.6;
	width: auto;

}
.nvgt:hover{
	opacity: 0.9;
	width: auto;

}
#prev{
	background: #000 url('https://dl.dropboxusercontent.com/u/65639888/image/prev.png') no-repeat center;
	left: 0px;
	width: auto;

}
#next{
	background: #000 url('https://dl.dropboxusercontent.com/u/65639888/image/next.png') no-repeat center;
	right: 0px;
	width: auto;

}
#pager{
	/* firefox has different center method. this doesn't work for fire fox */
	/* not in the center*/
	padding:0px;
	position:relative;
	height:50px;
	margin:auto;
	margin-top:10px;
	width: auto;
}
#pager li{
	padding: 0px;
	margin:5px;
	width:20px;
	height:20px;
	border:1px solid white;
	color:white;
	list-style: none;
	opacity: 0.6;
	float:left;
	border-radius: 3px;
	cursor: pointer;
	;
}
#pager li:hover{
	opacity:0.9;
	
}

.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  { outline: none; }
 
.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
 
.flexslider a img { outline: none; border: none; }
 
.flexslider {
    margin: 0;
    padding: 0;
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}
 
.flexslider .slides img {
    width: 100%;
    display: block;
 
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
html[xmlns] .slides { display: block; }
* html .slides { height: 1%; }

.flexslider {
    position: relative;
    zoom: 1;
    padding: 10px;
    background: #ffffff;
 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
 
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0, .2);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0, .2);
    box-shadow: 0px 1px 1px rgba(0,0,0, .2);
}

.flex-container {
    min-width: 150px;
    max-width: 960px;
}
 
.flexslider .slides { zoom: 1; }

.flex-direction-nav a {
    display: block;
    position: absolute;
    margin: -17px 0 0 0;
    width: 35px;
    height: 35px;
    top: 50%;
    cursor: pointer;
    text-indent: -9999px;
 
    background-color: #82d344;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#82d344), to(#51af34));
    background-image: -webkit-linear-gradient(top, #82d344, #51af34);
    background-image: -moz-linear-gradient(top, #82d344, #51af34);
    background-image: -o-linear-gradient(top, #82d344, #51af34);
    background-image: linear-gradient(to bottom, #82d344, #51af34);
}

.flex-direction-nav a:before {
    display: block;
    position: absolute;
    content: '';
    width: 9px;
    height: 13px;
    top: 11px;
    left: 11px;
    background: url(../img/arrows.png) no-repeat;
}
 
.flex-direction-nav a:after {
    display: block;
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 35px;
}
.flex-direction-nav .flex-next {
    right: -5px;
 
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
 
.flex-direction-nav .flex-prev {
    left: -5px;
 
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
 
.flex-direction-nav .flex-next:before { background-position: -9px 0; left: 15px; }
.flex-direction-nav .flex-prev:before { background-position: 0 0; }
 
.flex-direction-nav .flex-next:after {
    right: 0;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #31611e;
}
 
.flex-direction-nav .flex-prev:after {
    left: 0;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #31611e;
}
.flexslider .flex-control-nav {
    position: absolute;
    width: 100%;
    bottom: -40px;
    text-align: center;
    margin: 0 0 0 -10px;
}
 
.flex-control-nav li {
    display: inline-block;
    zoom: 1;
}
 
.flex-control-paging li a {
    display: block;
    cursor: pointer;
    text-indent: -9999px;
    width: 12px;
    height: 12px;
    margin: 0 3px;
    background-color: #b6b6b6 \9;
 
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
 
    -webkit-box-shadow: inset 0 0 0 2px #b6b6b6;
    -moz-box-shadow: inset 0 0 0 2px #b6b6b6;
    box-shadow: inset 0 0 0 2px #b6b6b6;
}
 
.flex-control-paging li a.flex-active {
    background-color: #82d344;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#82d344), to(#51af34));
    background-image: -webkit-linear-gradient(top, #82d344, #51af34);
    background-image: -moz-linear-gradient(top, #82d344, #51af34);
    background-image: -o-linear-gradient(top, #82d344, #51af34);
    background-image: linear-gradient(to bottom, #82d344, #51af34);
 
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.flexslider .slides p {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 5px;
    margin: 0;
 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 20px;
    color: white;
 
    background-color: #222222;
    background: rgba(0,0,0, .9);
 
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* sidebar */
aside {
section.user_info {
margin-top: 20px;
}
section {
padding: 10px 0;
margin-top: 20px;
&:first-child {
border: 0;
padding-top: 0;
}
span {
display: block;
margin-bottom: 3px;
line-height: 1;
}
h1 {
font-size: 1.4em;
text-align: left;
letter-spacing: -1px;
margin-bottom: 3px;
margin-top: 0px;
}
}
}
.gravatar {
float: left;
margin-right: 10px;
}
.gravatar_edit {
margin-top: 15px;
}

.stats {
    overflow: auto;
    margin-top: 0;
    padding: 0;
    a {
        float: left;
        padding: 0 10px;
        border-left: 1px solid gray;
        color: gray;
        &:first-child {
            padding-left: 0;
            border: 0;
        }
        &:hover {
            text-decoration: none;
            color: blue;
        }
    }
    strong {
        display: block;
    }
}

.user_avatars {
    overflow: auto;
    margin-top: 10px;
    .gravatar {
        margin: 1px 1px;
    }
    a {
        padding: 0;
    }
}

.users.follow {
    padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    height: auto !important;
}

#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    
    }
}

.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
        
    }
}
form.email p {
font-size: 15px;
padding: 0 0 10px 0;
margin: 0;
}

form.email input, form.email textarea {
font-family: Arial;
font-size: 15px;
margin: 0 0 20px 0;
}

form.email input {
background: #f5f5f5;
padding: 5px;
border: 1px solid #bbb;
border-radius: 5px;
}

form.email textarea {
background: #f5f5f5;
padding: 5px;
border: 1px solid #bbb;
border-radius: 5px;
width: 400px;
height: 250px;
}

form.email input.send {
color: #fff;
background: #222;
border: #000;
padding: 10px 25px 10px 25px;
cursor: pointer;
}

.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
        margin-left: 20px;
        font-weight: normal;
    }
}

#session_remember_me {
    width: auto;
    margin-left: 0;
}

/* Users index */

.users {
    list-style: none;
    margin: 0;
    li {
        overflow: auto;
        padding: 10px 0;
        border-bottom: 1px solid gray;
    }
}

/* microposts */
.microposts {
    list-style: none;
    padding: 0;
    li {
        padding: 10px 0;
        border-top: 1px solid #e8e8e8;
        
    }
    .user {
        margin-top: 5em;
        padding-top: 0;
    }
    .content {
        display: block;
        margin-left: 60px;
        img {
            display: block;
            padding: 5px 0;
        }
        
    }
    .timestamp {
        color: $gray-light;
        display: block;
        margin-left: 60px;
    }
    .gravatar {
        float: left;
        margin-right: 10px;
        margin-top: 5px;
    }
}

aside {
    textarea {
        height: 100px;
        margin-bottom: 5px;
    }
}

span.picture {
    margin-top: 10px;
    input {
        border: 0;
    }
}

.links {
	margin-top: 20px;
	.btn-default {
		color: #0a8fd5;
	}
}


/* Message styles */

.message {
	box-sizing: border-box;
	background-color: #383838;
	margin-bottom: 25px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 1.4em 1.4em;
	height: 150px;
	border-bottom: 4px solid #0a8fd5;

	.message-title {
		font-size: 1.5em;
		
		font-weight: 300;
		margin-top: 0;
		color: white;
		margin-bottom: 10px;
	}

	.btn-custom {
		margin-top: 20px;
	}

}

.message:nth-child(4n) {
	clear: left;
}

/* Message show-page styles */

.message-show {
	box-sizing: border-box;
	background-color: #383838;
	padding: 2.0em 1.5em;
	border-bottom: 4px solid #0a8fd5;
	color: #fff;
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	margin-top: 25px;

	h2 {
		margin-top: 0;
	}

	.message-desc {
		font-size: 1.1em;
		line-height: 1.75;
		margin-bottom: 50px;
	}

	.message-posted-by {
		color: #eee;
		font-size: 0.9em;
	}

	.reply-to-msg {
		margin-top: 50px;
	}

}


/* Comment styles */

.comment {
	border-bottom: 1px solid #fff;
	padding-top: 15px;
	padding-bottom: 15px;

	.comment-content {
		font-size: 1.25em;
	}	

	.comment-posted-by {
		color: #eee;
		font-size: 0.8em;
	}

	.links {
		margin-top: 15px;
		a {
			color: #0a8fd5;
			margin-right: 15px;
		}
	}
}