<!DOCTYPE html>
<html>
  <head>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'slider', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'count.py', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
     <div class="container">
    <%= render 'layouts/header' %>
   
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
</div>
    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
